{% extends "base.html" %}

{% block content %}
	
	<div class="profile-card">
		<p class="username"> <i class="fa fa-user"></i> {{data['data']['name']}}</p>
		{% if data['data']['bio'] == '' %}
			<p class="bio"></p>
		{% else %}
			<p class="bio"> <i class="fa fa-info"></i> {{data['data']['bio']}}</p>
		{% endif %}
		{% if data['links']['phone']['status'] == 'on' %}
	    	<p class="phone"> <i class="fa fa-phone"></i> {{data['links']['phone']['link']}}</p>
	    {% else %}
	    	<p class="phone"></p>
	    {% endif %}
	    
	    {% if data['links']['address']['status'] == 'on' %}
	    	<p class="address"> <i class="fa fa-map-marker"></i> {{data['links']['address']['link']}}</p>
	    {% else %}
	    	<p class="address"></p>
	    {% endif %}

	    <!-- <button class="edit">
	    	<a href="{{url_for('edit_profile')}}">Edit profile</a>
	    </button> -->

	    <div class="social-links">
	    	 {% if data['links']['instagram']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//www.instagram.com/{{data['links']['instagram']['link']}}">
	    	 			<img src="static/images/instagram.png" alt="instagram">
	    	 		</a>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}

	    	 {% if data['links']['snapchat']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//www.snapchat.com/add/{{data['links']['snapchat']['link']}}">
	    	 			<img src="static/images/snapchat.png" alt="snapchat">
	    	 		</a>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}

	    	 {% if data['links']['twitter']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//www.twitter.com/{{data['links']['twitter']['link']}}">
	    	 			<img src="static/images/twitter.png" alt="twitter">
	    	 		</a>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}

	    	 {% if data['links']['whatsapp']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		
					<a target="_blank" href="//wa.me/{{data['links']['whatsapp']['link']}}">
	    	 			<img src="static/images/whatsapp.png" alt="whatsapp">
	    	 		</a>
	    	 		
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}

	    	 {% if data['links']['facebook']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//{{data['links']['facebook']['link']}}">
	    	 			<img src="static/images/facebook.png" alt="facebook">
	    	 		</a>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}

	    	 {% if data['links']['linkedin']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//{{data['links']['linkedin']['link']}}">
	    	 			<img src="static/images/linkedin.png" alt="linkedin">
	    	 		</a>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}

	    	 {% if data['links']['email']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//mailto:{{data['links']['email']['link']}}">
	    	 			<img src="static/images/email.png" alt="email">
	    	 		</a>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}

	    	 {% if data['links']['youtube']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//{{data['links']['youtube']['link']}}">
	    	 			<img src="static/images/youtube.png" alt="youtube">
	    	 		</a>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}


	    	 {% if data['links']['tiktok']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//www.tiktok.com/@{{data['links']['tiktok']['link']}}">
	    	 			<img src="static/images/tiktok.png" alt="tiktok">
	    	 		</a>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}

	    	 {% if data['links']['soundcloud']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//www.soundcloud.com/{{data['links']['soundcloud']['link']}}">
	    	 			<img src="static/images/soundcloud.png" alt="soundcloud">
	    	 		</a>>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}

	    	 {% if data['links']['spotify']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//{{data['links']['spotify']['link']}}">
	    	 			<img src="static/images/spotify.png" alt="spotify">
	    	 		</a>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}

	    	

	    	 {% if data['links']['apple']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//{{data['links']['apple']['link']}}">
	    	 			<img src="static/images/apple.png" alt="apple">
	    	 		</a>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}

	    	 {% if data['links']['venmo']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//www.venmo.com/{{data['links']['venmo']['link']}}">
	    	 			<img src="static/images/venmo.png" alt="venmo">
	    	 		</a>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}

	    	 {% if data['links']['cashapp']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//www.cashapp.com/{{data['links']['cashapp']['link']}}">
	    	 			<img src="static/images/cashapp.png" alt="cashapp">
	    	 		</a>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}

	    	 {% if data['links']['paypal']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//{{data['links']['paypal']['link']}}">
	    	 			<img src="static/images/paypal.png" alt="paypal">
	    	 		</a>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}

	    	 {% if data['links']['twitch']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//www.twitch.tv/{{data['links']['twitch']['link']}}">
	    	 			<img src="static/images/twitch.png" alt="twitch">
	    	 		</a>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}

	    	 {% if data['links']['link']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//{{data['links']['link']['link']}}">
	    	 			<img src="static/images/link.png" alt="link">
	    	 		</a>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}

	    	 {% if data['links']['website']['status'] == 'on' %}
	    	 	<div class="icon">
	    	 		<a target="_blank" href="//{{data['links']['website']['link']}}">
	    	 			<img src="static/images/safari.jpg" alt="website">
	    	 		</a>
	    	 	</div>
	    	 {% else %}

	    	 {% endif %}




	    </div>

	</div>

{% endblock %}